Source: flare
Section: misc
Priority: extra
Maintainer: Masaki Fujimoto <fujimoto@php.net>
Build-Depends: debhelper (>= 5), autotools-dev, libtokyocabinet-dev|tokyocabinet-dev, libboost-program-options-dev|libboost-program-options1.35-dev, libboost-regex-dev|libboost-regex1.35-dev, libboost-serialization-dev|libboost-serialization1.35-dev, libkyotocabinet-dev
Standards-Version: 3.7.2

Package: flare
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: persistent, and distibuted key-value storage (with kyotocabinet support)
