*.a
*.la
*.lo
*.o
.deps
.libs
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/libtool
/ltmain.sh
compile
Makefile
Makefile.in
/cscope.*
/tags
/test/log
/test/*.log
/test/*.trs
/test-driver
