*.a
*.la
*.lo
*.o
.deps
.libs
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/libtool
/ltmain.sh
Makefile
Makefile.in
/cscope.*
/tags
/test/log
/test/*.log
/test/*.trs
/test-driver

# Lean build artifacts
.lake/
src/lib/a.svg
src/lib/flamegraph.pl
src/lib/out.perf
src/lib/out.perf.flared
src/lib/perf.pl
src/.DS_Store
.DS_Store
