Source: tokyocabinet
Priority: extra
Maintainer: Masaki Fujimoto <fujimoto@php.net>
Build-Depends: debhelper (>= 5), autotools-dev, zlib1g-dev, libbz2-dev
Standards-Version: 3.7.2
Section: libs

Package: tokyocabinet-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zlib1g, libbz2-1.0
Description: high performance DBM library
